# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>
- List popular languages for Data Science
- libraries used by Data Scientists include
- using git/github
- introduction to R

#### Some of the popular languages that Data Scientists use are:

1. python 
2. R
3. java

#### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.

|Data Science Tools|
|------------------|
|RStudio|
|Apache Spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
hours = 200 / 60
print(hours)

3.3333333333333335

## Author
shweta